# ⚡ *`Condicionales y Ciclos (o bucles)`* ⚡

## Python (repaso de la intro)

Es un lenguaje de programación moderno, de propósito general, orientado a objetos aunque multiparadigma y de alto nivel.
En Python todo tipo de dato es un objeto.

* Sintaxis general 
* Comentarios (#)
* Tipos de datos y variables:
  * Tipos de variables numericas (enteros y decimales): `int` y `float`
  * También hay variables numéricas de tipo complejos: `complex`
  * Variables que almacenan texto o caracteres: `strings`
    * Indexación (str.[posicion])
  * Variables que almacenan valores lógicos o booleanos (Verdadero o Falso): `True` y `False`
* Operadores 
  * de asignación (=) de contenido a una variable
  * numericos (suma, resta, multiplicación, etc.)
   * dan resultados numericos
  * que operan sobre variables de texto (concatenación, repetición)
   * dan como resultado otras cadenas de texto
  * de comparación (mayor, menor, igual)
   * dan como resultado valores lógicos (Verdadero o Falso)
* Funciones
  * `print()` -- imprime valores en pantalla
  * `help()`  -- documentacion sobre funciones, metodos, etc. 
  * `len()`   -- nos devuelve la longitud (length) de una cadena de caracteres
  * `type()`  -- nos devuelve el tipo de una variable (int, str, float, bool)
  * `abs()`   -- nos devuelve el valor *absoluto* de un número
  * `round()` -- nos devuelve el valor *redondeado* de un número
  * `str()`   -- convierte el tipo de una variable (a un string/cadena)
  * `int()`   -- convierte el tipo de una variable (a un entero)
  * `float()` -- convierte el tipo de una variable (a un numero con decimales)
  * `bool()`  -- convierte el tipo de una variable (a una variable lógica)
* Métodos
  * Varios que actuan sobre cadenas de caracteres
    * se escribe `var.method()` -- en general
      * `var.isdigit()`
      * `var.toupper()`
      * `var.find("caracter")`
      * etc. 
* f-strings

### Elementos básicos de Python

* Operaciones (+, -, \* , /, //, %, **)
* Como colocar comentarios (usando *#*)
* Variables:
* Definición
- Tipos de datos: 
  
    - int(enteros) 
    - float (decimales)
    - complex (complejos) 
    - strings (cadenas de caractes o texto) 
    - True (booleano)
    - False (booleano)
  
* Uso y conversiones
* Comparaciones (>, <, >=, <=, ==, !=)
* Operaciones lógicas (or, and, not)
* Cadena de caracteres 
* Uso de comillas simples o dobles y uso de comillas triples
* Códigos de escape (\n, \t, \\', \\", \\, \r)
* Indexación y Operaciones
* Métodos (strip(), upper(), lower(), replace(), etc)
* Mutabilidad y f-strings

### **`Listas`**

#### Creación 
Supongamos que tenemos que ir a la fruteria y comprar: manzanas, peras, bananas y naranjas. Podemos crear una variable para cada caso:

In [1]:
fruta1 = 'manzanas'
fruta2 = 'peras'
fruta3 = 'bananas'
fruta4 = 'naranjas'


La computadora no sabe que son frutas, ella interpreta las 4 variables independientemente, y podemos acceder a cada una preguntando por el valor de ella.

In [2]:
print(fruta1)

manzanas

Pero, ¿cómo podemos agruparlas de forma más eficiente? Por ejemplo, aguparlas de forma que sepamos que todas son frutas. Una forma es hacerlo mediante la creación de una lista con todas las frutas en ella. 

Las listas son el tipo de datos primitivo de Python para guardar colecciones ordenadas de valores. Para definir una lista se usan corchetes:

In [3]:
frutas = ['manzanas', 'peras', 'bananas', 'naranjas']

La lista puede ser creada de forma diferente, a partir de las variables que ya fueron definidas:

In [4]:
frutas2 = [fruta1, fruta2, fruta3, fruta4]

In [5]:
print(frutas)

['manzanas', 'peras', 'bananas', 'naranjas']

Cada elemento en la lista tiene un índice que hace referencia a su posición en la lista.

¿Cuál es el primer elemento? ¿Cómo nos referimos a él?

Las listas se indexan con números enteros, comenzando en 0.

In [6]:
print(frutas[0])  # imprimimos el primer elemento de la lista frutas

manzanas

Tambien podemos empezar a contar de atrás para adelante. El último elemento de la lista tiene indice -1, el anteúltimo -2 y así por delante.

In [7]:
print(frutas[-1])   # esto va a imprimir em pantalla el último elemento

naranjas

Otros ejemplos de listas:

In [8]:
nombres = [ 'Rosita', 'Manuel', 'Luciana' ]
numeros = [ 39, 38, 42, 65, 111]

Otra forma de crear una lista a partir de una cadena de caracteres. Por ejemplo, si exportamos datos desde una planilla de cálculo, con valores estarán separados por comas, y entonces los podemos separar usando el método `split()`:

In [9]:
line = 'Manzana,200,390.10'
fila = line.split(',') # la coma indica el elemento que se usa como separador
print(fila)
print(type(fila))

['Manzana', '200', '390.10']
<class 'list'>

### `Adición, subtitución y remoción de elementos`

También podemos agregar más elementos a una lista `append()`, por ejemplo, agreguemos una fruta mas a nuestra lista, cerezas!

In [10]:
frutas.append('cerezas')

Y vamos a ver donde fue adicionado este elemento, vamos a pedir el último elemento nuevamente

In [11]:
print(frutas[-1])
print(frutas)

cerezas
['manzanas', 'peras', 'bananas', 'naranjas', 'cerezas']

Si queremos insertar elementos en una posición, usamos el comando `insert( , )`. 

*`Los índices comienzan a contar desde el 0.`*

In [12]:
frutas.insert(3,'sandía')    # insertamos la palabra Sandía a la lista después de bananas
print(frutas)

['manzanas', 'peras', 'bananas', 'sandía', 'naranjas', 'cerezas']

También podemos cambiar el valor de cualquier elemento de una lista. 

*Recordar que esto no puede hacerse con una cadena*

In [13]:
frutas[2] = 'melón'
print(frutas)       # ['manzanas', 'peras', 'melón', 'sandía', 'naranjas', 'cerezas']

['manzanas', 'peras', 'melón', 'sandía', 'naranjas', 'cerezas']

Podés borrar elementos de una lista tanto usando el valor del elemento como su posición:

In [15]:
frutas = ['manzanas', 'peras', 'bananas', 'naranjas']
# Usando el valor
frutas.remove('naranjas') # borramos naranja

frutas

['manzanas', 'peras', 'bananas']

In [16]:
# Usando la posición
del frutas[1]            # borramos pera

frutas

['manzanas', 'bananas']

Al borrar un elemento no se genera un hueco. Los siguientes elementos se moverán para llenar el vacío. Si hubiera más de una aparición de un valor, `remove()` sólo sacará la primera aparición.

### `Operaciones básicas`
Con el símbolo de adición `+` se pueden concatenar listas, por ejemplo creemos la lista verduras con los elementos lechuga, puerro y acelga. Concatenemos las dos listas en una única y retornamos el valor en una variable.

In [1]:
frutas = ['manzanas', 'peras', 'bananas', 'naranjas']
verduras = ['lechuga','puerro','acelga']
frutas_verduras = frutas + verduras

print(frutas_verduras)

['manzanas', 'peras', 'bananas', 'naranjas', 'lechuga', 'puerro', 'acelga']

Y con el símbolo de multiplicación `*` podemos replicar una lista.

In [4]:
verduras * 3

['lechuga',
 'puerro',
 'acelga',
 'lechuga',
 'puerro',
 'acelga',
 'lechuga',
 'puerro',
 'acelga']

### `Métodos con listas`
Si queremos saber el tamaño de una lista, es decir cual es su longitud, podemos usar la función `len()`. Pidamosle esta información a nuestra lista de frutas.

In [20]:
len(frutas)  # 4

4

In [21]:
len(frutas+verduras)

7

Las listas pueden ser ordenadas "in-place", es decir, sin asignarlas a nuevas variables.

In [24]:
s = [10, 1, 7, 3]
s.sort()                    # [1, 3, 7, 10]
print(s)

[1, 3, 7, 10]

In [25]:
# Orden inverso
s = [10, 1, 7, 3]
s.sort(reverse=True)        # [10, 7, 3, 1]

print(s)

[10, 7, 3, 1]

Veamos con nuestro ejemplo de frutas

In [26]:
# Funciona con cualquier tipo de datos que tengan orden
print("Antes de ordenar: ",frutas)
frutas.sort()
print("Ordenadas:        ",frutas)

Antes de ordenar:  ['manzanas', 'peras', 'bananas', 'naranjas']
Ordenadas:         ['bananas', 'manzanas', 'naranjas', 'peras']

Usamos `sorted()` si queremos generar una nueva lista ordenada en lugar de ordenar la misma:

In [27]:
s = [10, 1, 7, 3]
t = sorted(s)               # s queda igual, t guarda los valores ordenados
print(s)
print(t)

[10, 1, 7, 3]
[1, 3, 7, 10]

Test de pertenencia a la lista (`in`, `not in`).

In [30]:
'melón' in frutas     # False
'melón' not in frutas  # True
'peras' in frutas        # True

True

Para encontrar rápidamente la posición de un elemento en una lista, podemos usar el método `index()`.

In [31]:
frutas = ['manzanas', 'peras', 'bananas', 'naranjas']
frutas.index('bananas')   # 2

2

Si el elemento está presente en más de una posición, `index()` te va a devolver el índice de la primera aparición. Si el elemento no está en la lista se va a generar una excepción de tipo `ValueError`.

### Atención! listas y matemática

**Cuidado:** Las listas no fueron diseñadas para realizar operaciones matemáticas. Observar que pasa con el siguiente código!

In [32]:
nums = [1, 2, 3, 4, 5]
print(nums * 2)                    # [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
print(nums + [10, 11, 12, 13, 14]) # [1, 2, 3, 4, 5, 10, 11, 12, 13, 14]

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 10, 11, 12, 13, 14]

Específicamente, las listas no representan vectores ni matrices como en MATLAB, Octave, R, etc. Sin embargo, hay paquetes de Python que hacen muy bien ese trabajo (por ejemplo `numpy`).

### `None` y valores `Falsos` y `Verdaderos`
Además de los valores booleanos `True` y `False`, otros valores pueden considerarse verdaderos o falsos y son llamados `Truthy` y `Falsy`

In [3]:
resultado = None # Falso

resultado = [1, 2, 3]

print(resultado)
print(type(resultado))

# True (1) / False (0)

##### valores falsos o falsy
"""
False
None
0
0.0
'' / ""
[]
()
{}
"""
# Todos los demás valores son considerados True o Truthy

[1, 2, 3]
<class 'list'>

'\nFalse\nNone\n0\n0.0\n\'\'\xa0/\xa0""\n[]\n()\n{}\n'

### Fin de repaso
-----

## Condicionales

### `if`
El comando `if` ("si" en español) es usado para ejecutar un condicional:

In [4]:
a = 7
b = 5

if a > b:
    print('Gana a')

Gana a

El código dentro del bloque indentado del `if` sólo se va a ejecutar si se cumple la condición, en este caso `a > b`. Si queremos que nuestro código haga algo distinto si no se cumple la condición, podemos usar un `else` ("si no"):

### `if` con `else`

In [5]:
a = 7
b = 5

if a > b:
    print('Gana a')
else:
    print('Gana b')

Gana a

El código anterior se lee como: "si a es mayor que b, imprimí `'Gana a'`. Si no, imprimí `'Gana b'`".  
Se pueden verificar condiciones mutuamente excluyentes agregando condiciones extras con `elif`.

In [6]:
calificacion = 8

if calificacion > 7:
    print('Felicidades, aprobaste!')
else:
    print('Reprobaste la materia.')

Felicidades, aprobaste!

### `Ternario` para reducir líneas de código con if y else

In [7]:
calificacion = 9
    
nota = 'Felicidades aprobaste la materia' if calificacion >= 7 else 'Desaprobaste la materia'
print(f'{nota} con {calificacion}')

Felicidades aprobaste la materia con 9

In [8]:
calificacion = 10

color = 'verde' if calificacion >= 7 else 'Rojo'

print(f'El color es "{color}" porque su calificación es {calificacion}!')

El color es "verde" porque su calificación es 10!

### `Comandos if, else y elif`

In [9]:
a = 3
b = 5

if a > b:
    print('Gana a')
elif a == b:
    print('Empate!')
else:
    print('Gana b')

Gana b

El comando `elif` viene de *else* e *if* y puede traducirse como "*si no se da la condición del if anterior, verificá si se da la siguiente*".
Las condiciones siempre van a estar dadas por un valor booleano. Por supuesto que podemos combinar varias condiciones usando los operadores entre booleanos que vimos antes (`and`, `or`, `not`):

In [ ]:
a = 1
b = 2
c = 3

if a > b and a > c:
  print('a es el más grande')

No hace nada porque la condición no se cumple es False.
Otro ejemplo puede ser:

In [10]:
a = 1
b = 2
c = 3

if a < b or a < c:
  print('a no es el más grande')

a no es el más grande

In [11]:
calificacion = 10

if calificacion == 10:
   print('Felicidades, aprobaste la materia con una calificación perfecta.')
elif calificacion == 9 or calificacion == 8:
    print('Felicidades, aprobate la materia.')
elif calificacion == 7 or calificacion == 6:
    print('Aprobaste la materia.')
else:
    print('Reprobaste la materia.')

Felicidades, aprobaste la materia con una calificación perfecta.

----------------------

## Ciclos, bucles, loops o iteradores
Tienen diferentes nombres pero hacen lo mismo: iteran. Nos permiten ahorrar lineas de programacion y ejecutar la misma secuencia de comandos varias veces.

## Ciclo `for`

En Python, los bucles se pueden programar de diferentes maneras. La más común es el bucle `for` (que podemos traducir al español con `para`), que se utiliza junto con objetos iterables, como las listas. La sintaxis básica es:

In [21]:
for i in [0,1,2]:
  print(i)

0
1
2

### Iterando sobre una  lista de palabras:

In [22]:
usuarios = ['usuario1', 'usuario2', 'usuario3', 'usuario4']

for usuario in usuarios:
    print(usuario)

usuario1
usuario2
usuario3
usuario4

In [27]:
frutas = ['manzanas', 'peras', 'bananas', 'naranjas']
for fruta in frutas:
  print(fruta)

manzanas
peras
bananas
naranjas

En cada iteración del bucle, vamos asignando ordenadamente un nuevo elemento a la variable `usuario` en el primer caso y `fruta` en el segundo. El valor previo es sobreescrito, y al final del bucle retiene su último valor.

### Iterando sobre un string:

In [22]:
for char in 'ultimate python':
    print(char, end='') 
# agregando end='' para retornar el resultado de forma horizontal
# por defecto lo devuelve vertical, iterando letra por letra y pasando a la línea de abajo

ultimate python

### La función `range`
El bucle `for` itera sobre los elementos de la lista suministrada, y ejecuta el bloque contenedor una vez por cada elemento. En el bucle `for` se puede utilizar cualquier tipo de lista. Por ejemplo:

In [34]:
for i in range(3):   # range comienza en 0   
  print(i)

0
1
2

*Atención, `range(3)` no incluye al 3!*

`range(3)` crea una lista que contiene los números naturales < 3, es decir `[0, 1, 2]`, la misma lista que le dimos anteriormente.

### range admite parámetros: `range(start, end, skips)`

In [24]:
for valor in range(5, 21, 3):
   print(valor)

5
8
11
14
17
20

### `El valor de skip por defecto es 1`

In [23]:
for x in range(-3,3):     # números enteros desde el -3 y menores que 3!
    print(x)

-3
-2
-1
0
1
2

### La función `enumerate`

In [29]:
numeros = [10, 20, 30, 40, 50]

for indice, numero in enumerate(numeros):
    print(f'El índice es {indice} y el número es {numero}')

El índice es 0 y el número es 10
El índice es 1 y el número es 20
El índice es 2 y el número es 30
El índice es 3 y el número es 40
El índice es 4 y el número es 50

### `break` y `continue`

#### Usando `break`

In [12]:
titulo_curso = 'Curso profesional de Python'

for caracter in titulo_curso:

    if caracter == 'P':
        break

    print(caracter, end=' ')

C u r s o   p r o f e s i o n a l   d e

#### Usando `continue`

In [13]:
titulo_curso = 'Curso profesional de Python'

for caracter in titulo_curso:

    if caracter == 'P':
        continue

    print(caracter, end='')

Curso profesional de ython

### `for else`

In [15]:
buscar = 10
for numero in range(5):
    print(numero)
    if numero == buscar:
        print("Encontrado:", buscar)
        break
else:
    print("No encontré el número buscado")

0
1
2
3
4
No encontré el número buscado

## Ciclo `while`

El comando `while` (que en español significa `mientras`) ejecuta un ciclo mientras que cierta condición se cumpla. Cuando la condición no se cumple más, el ciclo es finalizado.

In [37]:
i = 0               # defino la variable i

while i < 5:        # creo la condición para hacer el ciclo
    print(i)
    i = i + 1
    
print("listo! ya sali del ciclo")       # una vez que la condición no se cumple más, salimos del ciclo

0
1
2
3
4
listo! ya sali del ciclo

In [23]:
numero = 1

while numero < 100:
    print(numero)
    numero *= 2

1
2
4
8
16
32
64

In [25]:
comando = ''

while comando.lower() != 'salir':
    comando = input("$ ")
    print(comando)

hola
mundo
python
te amo
salir

Los comandos indentados debajo del `while` se van a a ejecutar mientras que la expresión luego del `while` sea verdadera (`True`).

### `while True`
En Python no hay un `do ... while` como en otros lenguajes, pero en su lugar se suele utilizar el `while True:`

In [27]:
while True:
    comando = input("$ ")
    print(comando)
    if comando.lower() == "salir":
        break

Hola mundo
soy un while True
salir

### `while con else`

In [1]:
numero = 123456789
contador_digitos = 0

while numero >= 1:
    # contador_digitos = contador_digitos + 1
    contador_digitos += 1

    numero = numero / 10
else:
    print(contador_digitos)

9

#### Ejemplo con while

Volvamos al ejemplo de un programa mostrado en la primera clase. 

> Una mañana se pone un billete en la vereda al lado del obelisco porteño. A partir de ahí, cada día se duplica la cantidad de billetes que hay, apilándolos prolijamente. ¿Cuántos días pasan antes de que la pila de billetes sea más alta que el obelisco?

In [49]:
# obelisco.py
grosor_billete = 0.11 * 0.001  # grosor de un billete en metros
altura_obelisco = 67.5         # altura en metros
num_billetes = 1
dia = 1

while altura_obelisco >= num_billetes * grosor_billete :
    print(dia, num_billetes, num_billetes * grosor_billete)
    dia = dia + 1
    num_billetes = num_billetes * 2

print('Cantidad de días', dia)
print('Cantidad de billetes', num_billetes)
print('Altura final', num_billetes * grosor_billete)

1 1 0.00011
2 2 0.00022
3 4 0.00044
4 8 0.00088
5 16 0.00176
6 32 0.00352
7 64 0.00704
8 128 0.01408
9 256 0.02816
10 512 0.05632
11 1024 0.11264
12 2048 0.22528
13 4096 0.45056
14 8192 0.90112
15 16384 1.80224
16 32768 3.60448
17 65536 7.20896
18 131072 14.41792
19 262144 28.83584
20 524288 57.67168
Cantidad de días 21
Cantidad de billetes 1048576
Altura final 115.34336

### `Indentación`

La indentación se usa para marcar grupos de comandos que van juntos. Considerá el ejemplo del programa anterior:

In [43]:
while num_billetes * grosor_billete <= altura_obelisco:
    print(dia, num_billetes, num_billetes * grosor_billete)
    dia = dia + 1
    num_billetes = num_billetes * 2

print('Cantidad de días', dia)

Cantidad de días 21

La indentación agrupa los comandos siguientes como las operaciones a repetir:

In [48]:
    print('Días:', dia, 'Números de billetes:', num_billetes, 'Grosor acumulado por los billetes:', num_billetes * grosor_billete)
    dia = dia + 1
    num_billetes = num_billetes * 2

Días: 23 Números de billetes: 4194304 Grosor acumulado por los billetes: 461.37344

Como el comando `print()` al final no está indentado, no pertenece al ciclo. La línea en blanco que dejamos entre ambos solo está para facilitar la lectura del código y no afecta la ejecución.

___Algunas recomendaciones sobre cómo indentar___:


*   Usar espacios y no el tabulador (ah no ser que la tabulación sean 4 espacios).
*   Usar 4 espacios por cada nivel (aunque en notebooks suelen usarse 2, `el pep 8` recomienda 4).
*   Usar editores de textos que entiendan que estás escribiendo en Python.

El único requisito verdadero del intérprete de Python es que la indentación dentro de un mismo bloque sea consistente. Por ejemplo, esto es un error:

In [36]:
while num_billetes * grosor_billete <= altura_obelisco:
    print(dia, num_billetes, num_billetes * grosor_billete)
        dia = dia + 1 # ERROR
    num_billetes = num_billetes * 2

IndentationError: ignored

### `loops anidados`
En general deben evitarse, a no ser que su uso sea necesario

In [28]:
for j in range(3):
    for k in range(2):
        print(f'{j}, {k}')

0, 0
0, 1
1, 0
1, 1
2, 0
2, 1

-----

### comando `pass`
Y a veces puede ser necesario especificar que un bloque de código que no haga nada. El comando `pass` se usa para eso.

In [54]:
if a > b:
    pass
else:
    print('No ganó a')

Gana b

Este comando no hace nada. En general sirve para guardar el lugar para un código que querramos agregar luego pero al momento no lo tenemos, y el comando pass evita que el programa se rompa.

### Usando `and` y `or` para condicionar y asignar valores:

In [13]:
# Usando and para condicionar 
resultado = 15

if resultado > 10 and resultado < 20:
    print('La variable cumple con la condición.')
else:
    print('La condición no se cumplio :( ')
    
# Usando or para asignar un valor según su condición
listado = []
nombre = 'Cody'

"""
if listado:
    variable = listado
else:
    variable = nombre
"""    

# como listado es una lista vacía, se la considera falsa
# En consecuencia, va a nombre y siendo este un string no vacío 'Cody'
# lo toma como verdadero, ya que por lógica booleana el or es verdadero
# cuando al menos uno de los dos es verdadero. En este caso, asigna a
# variable el valor de nombre que es 'Cody'. Si el primer valor hubiera
# sido verdadero, hubiera tomado el primero por la evaluación perezosa.
variable = listado or nombre
print(variable)

La variable cumple con la condición.
Cody

------

### `Ejercicios`

#### Ejercicio 1 
Ahora podemos re-hacer el ejercicio de la semana pasada usando lo aprendido en la clase de hoy:

**Rebotes**. Una pelota de goma es arrojada desde una altura de 100 metros y cada vez que toca el piso salta 3/5 de la altura desde la que cayó. Escribí un programa/script que imprima una tabla mostrando las alturas que alcanza en cada uno de sus primeros diez rebotes. Debería mostrar algo parecido a esto.

&nbsp;&nbsp; 1 &nbsp; 60.0

&nbsp;&nbsp; 2 &nbsp; 36.0

&nbsp;&nbsp; 3 &nbsp; 21.599999999999998

&nbsp;&nbsp; 4 &nbsp; 12.959999999999999

&nbsp;&nbsp; etc.

In [65]:
# Rebotes
altura = 60
nro_rebote = 1
while nro_rebote <= 10 :
    print('Número de rebote:', nro_rebote, 'Altura alcanzada:', round(altura, 2), 'm')
    altura *= 3/5
    nro_rebote += 1

Número de rebote: 1 Altura alcanzada: 60 m
Número de rebote: 2 Altura alcanzada: 36.0 m
Número de rebote: 3 Altura alcanzada: 21.6 m
Número de rebote: 4 Altura alcanzada: 12.96 m
Número de rebote: 5 Altura alcanzada: 7.78 m
Número de rebote: 6 Altura alcanzada: 4.67 m
Número de rebote: 7 Altura alcanzada: 2.8 m
Número de rebote: 8 Altura alcanzada: 1.68 m
Número de rebote: 9 Altura alcanzada: 1.01 m
Número de rebote: 10 Altura alcanzada: 0.6 m

### Ejercicio 2

**Jeringoso simple**. Usá una iteración sobre el string `cadena` para agregar la sílaba 'pa', 'pe', 'pi', 'po', o 'pu' según corresponda luego de cada vocal. Podés probar tu código cambiando la cadena inicial por otra palabra, como 'apa' o 'boligoma'.

In [69]:
# jeringoso
cadena = "hola mundo"
vocales = "aeiouAEIOU"
jeringoso = ""

for letra in cadena:
    jeringoso += letra
    if letra in vocales:
        if letra == "A" or letra == "E" or letra == "I" or letra == "O" or letra == "U":
            jeringoso += "P" + letra
        else:
            jeringoso += "p" + letra

print(jeringoso)

hopolapa mupundopo

### Ejercicio 3
**Meses y días.** Crea un programa que pida un número de mes (por ejemplo, el 4) y diga cuántos días tiene (por ejemplo, 30) y el nombre del mes. Debes usar listas. Para simplificarlo vamos a suponer que febrero tiene 28 días.

### Ejercicio 4

Supongamos que la población del país A es del orden de 75000 habitantes con una tasa de crecimiento anual del 4% y la población del país B es de 230000 habitantes con una tasa de crecimiento del 1,2%. Haz un programa que calcule y escriba el número de años necesarios para que la población del país A supere o iguale a la población del país B, tasas de crecimiento mantenidas.

## Más sobre iteraciones

### Comando break

Podemos usar el comando `break` para interrumpir y terminar el bucle. Al ejecutarlo, el programa sale del bucle y continúa con los comandos que siguen a continuación. Si el bucle está dentro de otro bucle, sólo termina el primero.

In [ ]:
numeros = [1, 2, 3, 4, 5]

for i in numeros:
  print(i)
  if i == 3:
    break

print('bucle finalizado','ultimo valor de i',i)

### Comando continue

Otro comando útil en bucles es el `continue`. Lo que hace es saltear la actual iteración y pasar inmediatamente a la siguiente. Es útil cuando no nos interesa procesar ciertos elementos.

In [70]:
numeros = [1, -5, 2, -8, 10]

# imprimo los cuadrados de los números positivos
for i in numeros:
  if i <= 0:
    continue
  print(i**2)

1
4
100

### Iterando sobre enteros

Para iterar sobre, se suele usar la función `range()`. La sintaxis es `range([inicio,] fin [,paso])`, donde es opcional indicar el número de inicio (por defecto es 0) y el paso (por defecto es 1). El valor de finalización no es incluído, como en las rebanadas.

In [76]:
print('i:')
for i in range(10):
    print(i, end=' ')      # i = 0,1,...,9

print('\nj:')
for j in range(10,20):
    print(j, end=' ')      # j = 10,11,..., 19

print('\nk:')
for k in range(10,20,2):
    print(k, end=' ')      # k = 10,12,...,18
    # Va contando de a 2

i:
0 1 2 3 4 5 6 7 8 9
j:
10 11 12 13 14 15 16 17 18 19
k:
10 12 14 16 18

La función `range()` no almacena todos los valores a la vez, sino lo que los va generando a medida que son necesarios. Muchas veces es tentador usar `range(len(secuencia))` para iterar sobre los índices de una secuencia, pero para eso es mejor el comando `enumerate()`.

### Función enumerate

La función `enumerate()` (enumerar) nos permite agregar un contador a la iteración. Suele ser sumamente útil si, por ejemplo, por alguna razón necesitamos los índices de los elementos.

In [86]:
nombres = ['Juan', 'Elsa', 'Ingrid', 'Carlos', 'Federico']

for i, nombre in enumerate(nombres):
  print(i, nombre)
  # 0 Juan
  # 1 Elsa
  # etc.

0 Juan
1 Elsa
2 Ingrid
3 Carlos
4 Federico

La forma más general de enumerate es `enumerate(secuencia [, inicio = 0])`, donde el valor de inicio de contador es opcional.

## Secuencias

Las secuenias son una colección ordenada de elementos. Las secuencias poseen indexación y tienen longitud. Vimos tres tipos de secuencias: **cadenas**, **listas** y **tuplas** (que vamos a ver en la próxima semana).

In [87]:
a = 'alumnos'               # cadena
b = [1, 2, 3, 4]             # lista

# Los elementos están ordenados y poseen un índice
a[0]                      # 'a'
b[-1]                     # 4

# Longitudes de secuencias
len(a)                    # 7
len(b)                    # 4

4

Las secuencias pueden ser replicadas y también concatenadas con otras secuencias del mismo tipo:

In [88]:
# Replicación
a*3            # 'alumnosalumnosalumnos'
b*2            # [1, 2, 3, 4, 1, 2, 3, 4] 

# Concatenación
b2 = [5, 6]
b + b2         # [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

También admiten algunas funciones básicas que las reducen a un sólo número, como `max()`, `min()` y `sum()`:

In [98]:
l = [1, 2, 3, 4, 5]
max(l)               # 5
min(l)               # 1
sum(l)               # 15

print(max(l))
print(min(l))
print(sum(l))

# Algunas funcionan incluso con cadenas
t = ['holaaaaa', 'todos'] # ordena alfabéticamente, no cantidad de caracteres
min(t)               # 'hola' ¿Qué estará haciendo?

5
1
15

'holaaaaa'

### Slicing

Ya vimos el rebanamiento (slicing) en el caso de listas y cadenas, pero aplican a todo tipo de secuencias. Recordamos que la sintaxis es `s[principio:fin]`, donde el índice final es *excluyente*, el elemento `s[fin]` no queda incluído. Si no se especifican los índices, se toma el inicio/final de la secuencia, dependiendo del caso.

In [103]:
a = [0,1,2,3,4,5,6,7,8]

a[2:5]    # [2,3,4]
a[-5:]    # [4,5,6,7,8]
a[:3]     # [0,1,2]

print(a[2:5]) # contando desde el principio, desde el índice 2 incluido hasta el 5 sin incluirlo
print(a[-5:]) # contando desde el final, desde el 5 elemento incluido hasta el final   
print(a[:3]) # contando desde el principio, hasta el 3 sin incluir el 3

[2, 3, 4]
[4, 5, 6, 7, 8]
[0, 1, 2]

Las **listas**, al ser mutables, admiten el borrado y reasignación de rebanadas:

In [105]:
# Reasignación
a = [0,1,2,3,4,5,6,7,8]
a[2:4] = [10,11,12]       # [0,1,10,11,12,4,5,6,7,8]

print(a)

# Borrado
a = [20,21,22,23,24,25,26,27,28]
del a[2:4]                # [20,21,24,25,26,27,28]

print(a)

[0, 1, 10, 11, 12, 4, 5, 6, 7, 8]
[20, 21, 24, 25, 26, 27, 28]

(¡Al reasignar una rebanada de una lista no hace falta que tenga la misma longitud!)

### Aclaración
Entre las funciones que le podemos aplicar a sequencias vimos la semana pasada `join()` y `split()`. Como son 2 funciones útiles, vamos a revisarlas nuevamente:

In [110]:
# tenemos una lista
lista = ["uno", "dos", "tres", "cuatro", "cinco"]
separador = ';'
resultado_join = separador.join(lista)
print(resultado_join)
print(type(resultado_join))
# no funciona: resultado = lista.join(';') que puede ser lo que intuitivamente podemos pensar

# resultado_split = lista.split(' ') # Esto no se puede hacer porque el split se aplica a strings, no a listas
# print(resultado_split)

uno;dos;tres;cuatro;cinco
<class 'str'>

In [111]:
# probar:

a = " ".join( ["Bienvenidos", "a", "la", "UNSAM"])
b = "_".join( ["Introducción", "a", "la", "programación", "en", "Python"])
print(a)
print(b)

Bienvenidos a la UNSAM
Introducción_a_la_programación_en_Python

Recordar como usabamos `split()`

In [115]:
line = 'Manzana,200,390.10'
fila = line.split(',') # la coma indica el elemento que se usa como separador
print(fila)
print(type(fila))
print(len(fila))

['Manzana', '200', '390.10']
<class 'list'>
3

In [118]:
line = 'Manzana 200 390.10'
fila = line.split(' ') # el espacio indica el elemento que se usa como separador
print(fila)
print(type(fila))
print(len(fila))

['Manzana', '200', '390.10']
<class 'list'>
3

## Ejercicios

### Ejercicio 5

**Notas**. Las notas obtenidas en por el alumno A durante su cursada fueron: 8, 7, 7, 6, 9, 10, 8, 9. El alumno B obtuvo las siguientes notas: 9, 8, 8, 9, 5, 8, 9, 7. 
Realizar un programa que calcule la nota media y que muestre quien sacó la nota mayor y quien sacó la nota menor.

### Ejercicio 6


1.   Crea una lista con los números del 1 al 10.
2.   Imprime los elementos en las posiciones 3, 4 y 5 utilizando slices.
3.   Imprime los elementos en las posiciones 2, 4, 6 y 8 utilizando slices.
4.   Crea una nueva lista que contenga los elementos de la lista original en orden inverso utilizando slices.
5.   Reemplaza los elementos en las posiciones 2, 3 y 4 con los números 20, 30 y 40 utilizando slices.

### Ejercicio 7 - (opcional)

Supongamos que tenemos una lista de números enteros, y queremos encontrar todas las subsecuencias de la lista que sumen un número objetivo dado. Para hacerlo, vamos a crear una función que tome como argumentos la lista de números y el número objetivo, y devuelva una lista con todas las subsecuencias que suman el número objetivo. 

*Ayuda:* Por ejemplo, si le damos a tu programa la lista de números [1, 2, 3, 4, 5] y queremos encontrar todas las subsecuencias que suman `7` (número objetivo dado), la función debería devolver las siguientes listas [2, 5], [3, 4], [1, 2, 4].

In [119]:
numeros = [1, 2, 3, 4, 5]
combinaciones = [[]]
resultados = []
objetivo = 7

for n in numeros:
    for i in range(len(combinaciones)):
        nueva = combinaciones[i] + [n]
        combinaciones.append(nueva)
        if sum(nueva) == objetivo:
            resultados.append(nueva)

print (f'Resultado: {resultados}')

Resultado: [[1, 2, 4], [3, 4], [2, 5]]

## **Fin Notebook**